@import './catppuccin.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--base);
  background-image: linear-gradient(var(--crust) 1px, transparent 1px), linear-gradient(to right, var(--crust) 1px, var(--base) 1px);
  background-size: 20px 20px;
  color: var(--text);
}
